################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApi83/FileContentIndex/71e99450-c475-45f7-848b-a96a8a650046.vsidx
